@(form: Form[Dattt])

@main("Neuen DATTT erstellen")("Neuen DATTT erstellen")("neuerdattt") {

  @helper.form(routes.DatttContr.create) {
	
	  <p>
	    <input class="form-control" type="text" name="title" placeholder="Titel" @*value="@form("title").value"*@>
	  	<br>
	    <textarea class="form-control" name="body" rows="10" cols="30">Beispieltext</textarea>
	  </p>
	  <p>deadline:<br>
	    <input class="form-control"type="date" name="deadline" placeholder="deadline" >
	  </p>
	  <p>
	    <button class="btn btn-default" type="submit">Dattt erstellen</button>
	  </p>
}

}
